body,html {
    background-color: black;
    margin:0;
}

h1 {
    font-family: 'Raleway Dots', cursive;  
}

h2 {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    position: absolute;
    top: 66%;
    left: 40%;
    color: rgb(88, 13, 13);
    font-size: 64px;
}

h3 {
    font-family: 'Raleway Dots', cursive;
}

#content-icons {
    position: absolute;
    z-index: 10;
    top: 96%;
    left: 55%;
    color: white;
}

ul{
    width: 500px;
    display: block;
    margin: 0 auto;  
}

ul > li {
    display: inline;
    margin: 0 10px 0 10px;
}

#content-backsplash {
    height:100vh;
    position: inherit;
    background: url("../img/background.png") no-repeat center center fixed;
    background-size: cover;
}

#content-movieposter {
    position: absolute;
    z-index: 9;
    top: 75%;
    right: 55%;
}

#content-about {
    position: absolute;
    z-index: 8;
    color: white; 
    width: 525px;
    top: 75%;
    left: 50%;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 24px;
    margin-bottom:100px;
}

#content-video {
    position: relative;
}

.mpfour {
    display: block;
    margin: 0 auto;
    z-index: 1;
}

a  {
color:white;
font-size: 25px;
}

a:link {
    color:white;
}

a:hover {
    color:white;
    text-decoration: none;
}

a:active{
    color:white;
}
.clear-fix {
    margin-bottom:100px;
}

#content-wrapper {
    position: relative;
    height: 2800px;
}